<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To obtain Google Advertising Identifier on Android 12 and higher -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <!-- To obtain Yandex and Huawei Advertising Identifiers on Android 11 and higher -->
    <queries>
        <intent>
            <action android:name="com.yandex.android.advid.IDENTIFIER_SERVICE" />
        </intent>
        <intent>
            <action android:name="com.uodis.opendevice.OPENIDS_SERVICE" />
        </intent>
    </queries>

</manifest>
