<manifest xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="
        com.google.android.gms.location,
        com.yandex.pulse,
        androidx.viewpager2,
        androidx.recyclerview,
        androidx.appcompat,
        androidx.appcompat.resources,
        androidx.legacy.v4,
        com.google.android.gms.base,
        com.google.android.gms.places_placereport,
        com.google.android.gms.tasks,
        com.google.android.gms.common,
        androidx.fragment,
        androidx.legacy.coreui,
        androidx.viewpager,
        androidx.coordinatorlayout,
        androidx.drawerlayout,
        androidx.slidingpanelayout,
        androidx.swiperefreshlayout,
        androidx.customview,
        androidx.media,
        androidx.legacy.coreutils,
        androidx.loader,
        androidx.activity,
        androidx.vectordrawable.animated,
        androidx.vectordrawable,
        androidx.asynclayoutinflater,
        androidx.core,
        androidx.versionedparcelable,
        androidx.interpolator,
        androidx.cursoradapter,
        androidx.documentfile,
        androidx.localbroadcastmanager,
        androidx.print,
        androidx.lifecycle,
        androidx.lifecycle.viewmodel,
        androidx.savedstate,
        androidx.lifecycle.livedata,
        androidx.lifecycle.livedata.core,
        androidx.arch.core,
        androidx.test
        "/></manifest>
